
.footer {
    background-color: black;
  height:120px;
  display: flex;
justify-content: space-evenly;
}

.afooter{
    margin-top:2%;
}

.imgfooter{
  transition: 0.8s;
}

.imgfooter:hover {
  transform: scale(1.2, 1.2);
  transition: 0.5s;
  }


