@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --Transparent-: rgba(255, 255, 255, 0);
    --LightShadow-: rgba(0, 0, 0, 0.253);
    --Shadow-: rgba(0, 0, 0, 0.39);
    --DarkShadow-: rgba(0, 0, 0, 0.466);
    --WhiteShadow-: #ffffffa4;
    --White-: #FFFFFF;
    --Black-: #000000;
    --DarkGrey-: #202020;
    --Grey-: #757575;
    --Grey2-: #9c9c9cf3;
    --Grey3-: #c9c9c9f3;

    --Background-: #5e5e5e;
    --Button-: #0022ff;

    --Color1-: #3b5998;
    --Color2-: #00aced;
    --Color3-: #ea4c89;
    --Color4-: #d8d7d7;
    --Error-: rgb(187, 8, 8);
    --Success-: #65F695;
}